<div *ngIf="!addProduct">
    <button class="custom-btn btn-6" (click)="showAddProduct()"><span class="text">ADD</span></button>
</div>
<div *ngIf="products && !showForm && !addProduct" class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="gradient-text">TITLE</th>
                <th scope="col" class="gradient-text">PRICE</th>
                <th scope="col" class="gradient-text">DESCRIPTION</th>
                <th scope="col" class="gradient-text">CATEGORY</th>
                <th scope="col" class="gradient-text">IMAGES</th>
                <th scope="col" class="gradient-text">UPDATE</th>
                <th scope="col" class="gradient-text">DELETE</th>
            </tr>
        </thead>
        <tbody *ngFor="let product of products;let i=index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{product.title}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category.name}}</td>
                <td>{{product.images}}</td>
                <td><button class="btn " (click)="updateProduct(product)"><i class="fa-solid fa-pen-to-square"></i></button>
                </td>
                <td><button class="btn " (click)="confirmDelete(product)"><i class="fa-solid fa-trash-can"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="prodSelected && showForm">
    <app-product-form [productInForm]="prodSelected" [categories]="categories" (goToProductsList)="showProducts($event)">
    </app-product-form>
</div>

<div *ngIf="addProduct">
    <app-add-product-form [categories]="categories" (goToProductsList)="showProducts($event)"></app-add-product-form>
</div>