.card {
    width: 20rem;
    height: 30rem;
    border-radius: 0px;
    border: none;
}

.d-flex {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-text {
    font-size: small;
}

button {
    margin-right: 1rem;
}