<div class="container d-flex 
justify-content-center table-responsive">
    <table class="table" *ngIf="cart">
        <thead>
            <tr>
                <th scope="col" class="gradient-text">ID</th>
                <th scope="col" class="gradient-text">NAME</th>
                <th scope="col" class="gradient-text">QUANTITY</th>
                <th scope="col" class="gradient-text">PRICE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productCounter of cart; let i = index">
                <th scope="row">{{productCounter.product?.id}}</th>
                <td> {{productCounter.product?.title}}</td>
                <td> <button (click)="removeProdCart(productCounter)" type="button" class="btn btn-secondary mx-3"><i
              class="fa-sharp fa-solid fa-minus"></i></button>{{productCounter.quantity}}<button (click)="addToCart(productCounter)" type="button" class="btn btn-secondary mx-3"><i
              class="fa-sharp fa-solid fa-plus"></i></button></td>
                <td>{{productCounter.subtotal}} €</td>
            </tr>

            <tr>
                <th>TOTAL </th>
                <td></td>
                <th class="text-center">{{getTotalProductsCart()}}</th>
                <th>{{totalPrice}} €</th>
            </tr>
        </tbody>
        <div class="center">
            <button class="custom-btn btn-6" href="#">BUY</button>
            <a class="card-link aStyle" (click)="sendOrder()">SAVE ORDER</a>
        </div>
    </table>
</div>