<div class="container box my-5">
    <form [formGroup]="catForm" (ngSubmit)="updateFormSubmit(catForm.value)">
        <div class="row">
            <div>
                <div class="form-group">
                    <label for="name" class="gradient-text fw-bold">NAME</label>
                    <input type="text" formControlName="name" id="name" class="form-control" value={{this.categoryInForm.name}} required [ngClass]="{ 'is-invalid': f['name'].touched && f['name'].errors, 'is-valid': f['name'].valid }">
                    <div *ngIf="f['name'].touched && f['name'].errors" class="invalid-feedback">
                        <div *ngIf="f['name'].errors['required']">Name is required!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn custom-btn btn-6"> REGISTER </button>
                <a type="button" class="card-link aStyle" (click)="goBack()">BACK</a>
            </div>
        </div>
    </form>
</div>