<div *ngIf="categories" class="d-flex">
    <div class="my-3" *ngFor="let category of categories | paginate: {itemsPerPage: ipp, currentPage: cp};  let i = index">
        <div class="flip" (click)="getCategory(category)">
            <div class="front" style="background-image: url({{categories[i].image}})">
                <h1 class="text-shadow">{{categories[i].name}}</h1>
            </div>
            <div class="back">
                <h2>CHECK MORE</h2>
                <p>{{categories[i].name}}</p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center ">
    <pagination-controls (pageChange)="cp=$event" previousLabel="" nextLabel="" class="my-pagination" (responsive)="true"></pagination-controls>
</div>