<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark ">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="/home">Store</a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" routerLink="home">HOME</a></li>
                <li class="nav-item"><a class="nav-link" (click)="getProducts()">PRODUCTS</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="categories">CATEGORIES</a></li>
            </ul>
            <div class="d-flex">
                <a *ngIf="loggedIn == null" class="fontBorder reg" routerLink="login">LOG IN </a>
                <a *ngIf="loggedIn" class="fontBorder" (click)="logout()">LOG OUT</a> //
                <a class="fontBorder " routerLink="register">SIGN IN</a>

                <li *ngIf="loggedIn && loggedIn.role == 'admin'" class="nav-item">
                    <a class="nav-item nav-link" routerLink="adminSection" routerLinkActive="active">PRODUCTS STORED</a>
                </li>
                <li *ngIf="loggedIn" class="nav-item">
                    <a class="nav-item nav-link" routerLink="profile" routerLinkActive="active">PROFILE</a>
                </li>
            </div>

            <div class="d-flex flex-row order-lg-last align-items-center">
                <button type="button" class="navbar-toggler order-last collapsed" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
                <ul class="navbar-nav me-3 me-lg-0 d-flex flex-row align-items-center">
                    <li class="dropdown search-dropdown nav-item py-lg-3">
                        <a class="btn pink flex-center" type="button" data-bs-toggle="modal" data-bs-target="#cartModal" onclick="open_modal()" data-bs-auto-close="outside">
                            <i class="fas fa-shopping-cart me-1"></i> Cart
                            <span class="numCart badge bg-dark text-white ms-1" id="count_product"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>