i,
.pink {
    color: black;
}

.fontBorder {
    text-decoration: none;
    color: black;
}

.badge:hover {
    /* Fallback: Set a background color. */
    background-color: transparent;
    /* Create the gradient. */
    background-image: linear-gradient(180deg, #ff5f6d, #ffc371);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

a:hover span,
a:hover {
    color: black;
    text-decoration-color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    font-weight: normal;
}

a {
    color: black;
    text-decoration-color: black;
    text-decoration-line: none;
}

li:hover {
    text-decoration-color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

li {
    font-weight: bolder;
    color: black;
}

button:focus {
    outline: none;
    box-shadow: none;
}