<nav class="navbar navbar-expand-lg navbar-fixed-top bg-* ">
    <div class="container-fluid">
        <button class="navbar-toggler align-items-start menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">   <i class="fas fa-solid fa-bars"></i></span>
    </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" (click)="getProducts()">PRODUCTS</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="categories">CATEGORIES</a></li>

                <li *ngIf="loggedIn && loggedIn.role == 'admin'" class="nav-item">
                    <a class="nav-link" routerLink="adminSection">PRODUCTS MANAGEMENT</a>
                </li>
                <li *ngIf="loggedIn && loggedIn.role == 'admin'" class="nav-item">
                    <a class="nav-link" routerLink="adminCatSection">CATEGORIES MANAGEMENT</a>
                </li>
                <li *ngIf="loggedIn" class="nav-item">
                    <a class="nav-link" routerLink="profile">PROFILE</a>
                </li>
            </ul>

            <ul class="navbar-nav d-flex align-items-center ms-auto mb-0">

                <li class="dropdown search-dropdown nav-item align-self-start">
                    <a class="btn flex-center" type="button" data-bs-target="#cartModal" (click)="goToCart()" data-bs-auto-close="outside">
                        <i class="fas fa-shopping-cart me-1"></i> Cart
                        <span class="numCart badge bg-* text-dark ms-1 rounded-pill" id="count_product">{{getTotalProductsCart()}}</span>
                    </a>
                </li>
                <li class="nav-item align-self-start"><a *ngIf="loggedIn == null" class="fontBorder nav-link" routerLink="login">LOG IN </a></li>
                <li class="nav-item align-self-start"><a *ngIf="loggedIn" class="fontBorder nav-link" (click)="logout()">LOG OUT</a> </li>
                <li class="nav-item align-self-start"><a class="fontBorder nav-link" routerLink="register">SIGN IN</a></li>
            </ul>
        </div>
    </div>
</nav>