<div class="container d-flex">
    <div id="formDiv" class="text-center bg-* my-3 p-3">
        <h2 class="mb-5">ENTER YOUR CREDENTIALS</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3 row">
                <label class="col-4 col-form-label" for="username">Username</label>
                <div class="col-6">
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': f['username'].touched && f['username'].errors, 'is-valid': f['username'].valid}" />
                    <div *ngIf="f['username'].touched && f['username'].errors" class="invalid-feedback">
                        <div *ngIf="f['username'].errors['required']">Username is required</div>
                        <div *ngIf="f['username'].errors['email']">Insert a correct email</div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label class="col-4 col-form-label" for="password">Password</label>
                <div class="col-6">
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': f['password'].touched && f['password'].errors, 'is-valid': f['password'].valid}" />

                    <div *ngIf="f['password'].touched && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Password is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <button type="submit" [disabled]="!loginForm.valid" class="custom-btn btn-6 mx-3">CONTINUE</button>
                <a type="button" [routerLink]="['/register']">REGISTER</a>
            </div>
        </form>

    </div>
</div>