<div class="container">
    <form [formGroup]="prodForm" (ngSubmit)="updateFormSubmit(prodForm.value)">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" formControlName="title" id="title" class="form-control" value={{this.productInForm.title}} required [ngClass]="{ 'is-invalid': f['title'].touched && f['title'].errors, 'is-valid': f['title'].valid }">
                    <div *ngIf="f['title'].touched && f['title'].errors" class="invalid-feedback">
                        <div *ngIf="f['title'].errors['required']">Title is required!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" formControlName="price" id="price" class="form-control" value={{this.productInForm.price}} required [ngClass]="{ 'is-invalid': f['price'].touched && f['price'].errors, 'is-valid': f['price'].valid }">
                    <div *ngIf="f['price'].touched && f['price'].errors" class="invalid-feedback">
                        <div *ngIf="f['price'].errors['required']">Price is required!</div>
                        <div *ngIf="f['price'].errors['pattern']">Must be a number</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea rows="8" type="text" formControlName="description" id="description" class="form-control" value={{this.productInForm.description}} required [ngClass]="{ 'is-invalid': f['description'].touched && f['description'].errors, 'is-valid': f['description'].valid }"></textarea>
                    <div *ngIf="f['description'].touched && f['description'].errors" class="invalid-feedback">
                        <div *ngIf="f['description'].errors['required']">Description is required!</div>
                    </div>
                </div>
            </div>
        </div>
        {{this.category}}
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="category">Category:</label>
                    <select class="form-select" formControlName="category" id="category" placeholder="Enter category" required [ngClass]="{ 'is-invalid': f['category'].touched && f['category'].errors, 'is-valid': f['category'].valid }">
             <option value="">Select your option</option>
             <option *ngFor="let category of this.categories" [ngValue]="category">
               {{category.name}}
            
             </option>
           </select>
                    <div *ngIf="f['category'].touched && f['category'].errors" class="invalid-feedback">
                        <div *ngIf="f['category'].errors['required']">Category is required!</div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> Register </button>
                <button type="button" class="btn btn-primary" (click)="goBack()"> Back </button>
            </div>
        </div>
    </form>
</div>