<div *ngIf="loggedIn && loggedIn.role == 'client' && orders.length > 0" class="nav-item table-responsive">

    <h3 class="textCenter gradient-text fw-bold my-4">USER: {{loggedIn.firstName | uppercase}} {{loggedIn.lastName | uppercase}}</h3>

    <table class="table" *ngFor="let order of orders; let i = index">

        <thead>
            <tr>
                <th scope="col" class="gradient-text">ORDER</th>
                <th scope="col" class="gradient-text">TITLE</th>
                <th scope="col" class="gradient-text">QUANTITY</th>
                <th scope="col" class="gradient-text">PRICE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{i+1}}</th>
            </tr>
            <tr *ngFor="let productCounter of orders[i].cart">
                <th scope="row"></th>
                <td>{{productCounter.product!.title}}</td>
                <td>{{productCounter.quantity}}</td>
                <td>{{productCounter.product!.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="loggedIn && loggedIn.role == 'admin' && orders.length > 0">

    <h3 class="textCenter gradient-text fw-bold my-4">ORDERS FROM USERS</h3>

    <table class="table" *ngFor="let order of orders; let i = index">
        <thead>
            <tr>
                <th scope="col" class="gradient-text">NAME</th>
                <th scope="col" class="gradient-text">ORDER</th>
                <th scope="col" class="gradient-text">TITLE</th>
                <th scope="col" class="gradient-text">QUANTITY</th>
                <th scope="col" class="gradient-text">PRICE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{order.user.firstName +" "+ order.user.lastName }}</th>
                <th scope="row">{{i+1}}</th>
            </tr>
            <tr *ngFor="let productCounter of orders[i].cart">
                <th scope="row"></th>
                <th scope="row"></th>
                <td>{{productCounter.product!.title}}</td>
                <td>{{productCounter.quantity}}</td>
                <td>{{productCounter.product!.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf=" loggedIn && orders.length == 0">
    <h3 class="textCenter gradient-text fw-bold my-4">NO ORDERS TO SHOW</h3>
</div>