<div *ngIf="!addCategory">
    <button class="custom-btn btn-6" (click)="showAddCategory()"><span class="text">ADD</span></button>
</div>
<div *ngIf="categories && !showForm && !addCategory" class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="gradient-text">ID</th>
                <th scope="col" class="gradient-text">NAME</th>
                <th scope="col" class="gradient-text">IMAGE</th>
                <th scope="col" class="gradient-text">UPDATE</th>
            </tr>
        </thead>
        <tbody *ngFor="let category of categories;let i=index">
            <tr>
                <th scope="row">{{category.id}}</th>
                <td>{{category.name}}</td>
                <td>{{category.image}}</td>
                <td><button class="btn" (click)="updatecategory(category)"><i class="fa-solid fa-pen-to-square"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="catSelected && showForm">
    <app-category-form [categoryInForm]="catSelected" (goToCategoriesList)="showCategories($event)">
    </app-category-form>
</div>

<div *ngIf="addCategory">
    <app-add-category-form (goToCategoriesList)="showCategories($event)"></app-add-category-form>
</div>