<button class="btn btn-danger" (click)="showAddCategory()"><i class="fa-solid fa-plus"></i></button>

<div *ngIf="categories && !showForm && !addCategory">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">IMAGE</th>
                <th scope="col">UPDATE</th>
            </tr>
        </thead>
        <tbody *ngFor="let category of categories;let i=index">
            <tr>
                <th scope="row">{{category.id}}</th>
                <td>{{category.name}}</td>
                <td>{{category.image}}</td>
                <td><button class="btn btn-success" (click)="updatecategory(category)"><i class="fa-solid fa-pen-to-square"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="catSelected && showForm">
    <app-category-form [categoryInForm]="catSelected" (goToCategoriesList)="showCategories($event)">
    </app-category-form>
</div>

<div *ngIf="addCategory">
    <app-category-form (goToCategoriesList)="showCategories($event)"></app-category-form>
</div>